<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Meyawo Landing page | Free Bootstrap 4.3.x landing page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename="assets/vendors/themify-icons/css/themify-icons.css") }}" />
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename="assets/css/meyawo.css") }}" />
	
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="0" id="home">


    <!-- page header -->
    <header id="home" class="header m-auto ml-sm-auto">

		</div>
	        <div class=""></div>
			<div class="header-content container text-center m-auto ml-sm-auto ">
			<h2><b>Spam Detector For Emails</b></h2>
		</div>
	
	<!-- <div class="contact-form col-md-12 col-lg-6 m-auto">  -->
	<div class="md-form col-lg-6">
	 <form action="{{ url_for('predict')}}"  method="POST">
	 
	 
		<!--<textarea name="message"  rows="3"  placeholder="Write message" required="true"></textarea><br/> -->
		<!--Material textarea-->
		<div class="md-form">
			<i class="fas fa-user prefix grey-text"></i>
			<textarea name="message" class="md-textarea form-control" rows="3" placeholder="Write message here" required="true"  ></textarea>
		</div>
		</br>
	
		<input type="submit" class="btn btn-outline-primary rounded" value="predict"><br/><br/>
		
		<h3> How does it work?</h3>
		<p1> The NLP model is trained with classic spam/ham dataset provided by UCI. Message with words like free bonus,credit card, send sms winner,etc are detected as spam.
		Message length does matter too. Spam messages tend to be lengthier than hams most of the time.</p1>
		
		<p1>Check source code <a href="https://github.com/akashmasne/SpamClassifier"><u>here</u></a></p1>
	  
	 </form>		
	</header>
    
    <!-- footer -->
    <div class="container">
        <footer class="footer">       
            <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a></p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://github.com/akashmasne" class="link"><i class="ti-github"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->
	
	<!-- core  -->
    <script src="{{ url_for('static', filename="assets/vendors/jquery/jquery-3.4.1.js") }}"></script>
	
	<script src="{{ url_for('static', filename="assets/vendors/bootstrap/bootstrap.bundle.js") }}"></script>

	<script src="{{ url_for('static', filename="assets/vendors/bootstrap/bootstrap.affix.js") }}"></script>

    <!-- Meyawo js -->
    <script src="{{ url_for('static', filename="assets/js/meyawo.js") }}"></script>

</body>
</html>
