<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
	<link rel="stylesheet" href="{{ url_for('static', filename="assets/vendors/themify-icons/css/themify-icons.css") }}" />
	<!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename="assets/css/meyawo.css") }}" />
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
   
</head>
<body>

	<header>
		<div class="container m-auto ml-sm-auto">
			<div id="brandname"></div>
			<h2>Spam Detector Output</h2>
		</div>
	</header>
	
	<p style="color:blue;font-size:30;text-align: center;"><b>Model detected message as </b></p>
	<div class="results m-auto ml-sm-auto", align='center'>

		
	{% if prediction == 1%}
	<h2 style="color:red;">Spam</h2>
	{% elif prediction == 0%}
	<h2 style="color:blue;">Not a Spam</h2>
	{% endif %}

	</div>

	<!-- core  -->
    <script src="{{ url_for('static', filename="assets/vendors/jquery/jquery-3.4.1.js") }}"></script>
	
	<script src="{{ url_for('static', filename="assets/vendors/bootstrap/bootstrap.bundle.js") }}"></script>

	<script src="{{ url_for('static', filename="assets/vendors/bootstrap/bootstrap.affix.js") }}"></script>

    <!-- Meyawo js -->
    <script src="{{ url_for('static', filename="assets/js/meyawo.js") }}"></script>
	
</body>
</html>